@import url("https://fonts.cdnfonts.com/css/seven-segment");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: gray;
}

.header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Bangers;
  letter-spacing: 0.5rem;
}

.calculator-container {
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.calculator {
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 24rem;
  padding: 0;
  border-radius: 1rem;
  border: 1rem;
}

.buttons input {
  height: 4.8rem;
  width: 4.8rem;
  margin: 0.2rem;
}

.buttons {
  margin: 1rem;
}

.display-container {
  display: flex;
  justify-content: center;
}
#display {
  font-family: "Seven Segment", sans-serif;
  background: black;
  color: white;
  text-align: end;
  border: none;
  height: 3rem;
  width: 21rem;
  margin: 1rem;
  font-size: 2.5rem;
}

.rowButtons {
  display: flex;
  justify-content: center;
}

.buttonitem input {
  background: #4e4e4e;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
}

.buttonitem input:hover {
  background: #787878;
  background-image: linear-gradient(to bottom, #787878, #787878);
  text-decoration: none;
}

.buttonitem input:active {
  background: white;
}

#operand {
  background: orange;
}

#equalbutton {
  width: 9.8rem;
}
